.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title-game {
  font-size: 30px;
}
.screenStartGame,
.screenAddPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tableUserList {
  max-width: 400px;
  margin: 0 auto;
}
.buttonAddPlayer {
  height: 50px;
}
.buttonListPlayer {
  display: flex;
  justify-content: space-between;
}
.buttonListPlayer button {
  height: 50px;
}
.screenGameManagement {
  padding: 50px;
}
.container-screenGameManagement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.yesOrno {
  display: flex;
}
.yesOrno div {
  width: 100px;
  height: 30px;
  font-size: 20px;
}
.yesOrno button {
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 60px;
}
.match {
  background-color: gray;
  border-radius: 10px;
  padding: 40px;
  font-size: 30px;
}
.player {
  padding: 40px;
  font-size: 30px;
}
.answer {
  display: flex;
  padding: 0 30px;
}
.image-answer button {
  margin-top: 50px;
}
.backgroup-yes {
  background-color: #0dcaf0;
}
.backgroup-no {
  background-color: #ffc107;
}
